html {
    height: 100vh;
    font-family: Roboto, sans-serif;
    font-size: 30px;
}

body {

    min-height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-areas:
        "place place icon"
        "temperature temperature ."
        "speed speed direction";
    align-items: center;
}
#direction{
    text-align: center;
    font-size: 2rem;
}
#place{
    font-size: inherit;
}
form>button>img{
    height: 1rem;
}
#icon>img{
    height: 4rem;
}